clear {
    border-width: 0px;
}

.navbar-nav > li > a {
    padding-top:5px !important; padding-bottom:5px !important;
}
.navbar {
    min-height:82px !important
}
.dropdown-toggle::after {
    display:none
}

.dropdown-menu {
    justify-content: flex-start;
    width:51rem;   
}

.logo {
   height: 5rem;
}

.search {
    width: 6rem;
}

.searchbar {
    width: 44.6rem;
    height: 4rem;
}

