  <div class="container" style="padding-top:30px">
      <div class="row">
          <div class="col-sm-8">
              <div *ngFor="let message of messages">
                  <div id="tb-testimonial" class="testimonial testimonial-default-filled" *ngIf="message.sender.id == user.id && user">
                      <div class="testimonial-section">
                            {{message.message}}
                          </div>
                          <div class="testimonial-desc">
                                  <img class="photo" src="{{message.receiver.img}}" *ngIf="message.receiver.img"/>
                                  <img class="photo" src="https://png.pngtree.com/element_origin_min_pic/17/01/01/a0616bd383a04eb003eb9ca3fdbb3e82.jpg" *ngIf="!message.receiver.img"/>
                              <div class="testimonial-writer">
                                  <div class="testimonial-writer-name">To: <a [routerLink]="['/profile', message.receiver.id]" class="testimonial-writer-name">{{message.receiver.nick}}</a></div>
                                  <a [routerLink]="['/routes', message.route._id]"><div class="testimonial-writer-name">{{message.route.title}}</div></a>
                                <div class="testimonial-writer-designation">{{message.created}}</div>
                              </div>
                          </div>
                      </div>
                  <div id="tb-testimonial" class="testimonial testimonial-success-filled receiver" *ngIf="message.receiver.id == user.id && user">
                      <div class="testimonial-section">
                            {{message.message}}
                          </div>
                          <div class="testimonial-desc">
                              <img class="photo" src="{{message.sender.img}}" *ngIf="message.sender.img"/>
                              <img class="photo" src="https://png.pngtree.com/element_origin_min_pic/17/01/01/a0616bd383a04eb003eb9ca3fdbb3e82.jpg" *ngIf="!message.sender.img"/>
                              <div class="testimonial-writer">
                                <div class="testimonial-writer-name">From: <a [routerLink]="['/profile', message.sender.id]" class="testimonial-writer-name">{{message.sender.nick}}</a></div>
                                <a [routerLink]="['/routes', message.route._id]"><div class="testimonial-writer-name">{{message.route.title}}</div></a>
                                <div class="testimonial-writer-designation">{{message.created}}</div>
                              </div>
                          </div>
                      </div>   
          </div>
      </div>
    </div>
  </div>
  