<div class="row">
<div class="left col-lg-4" *ngIf="user">
    <div class="photo-left" *ngIf="user.img">
      <img class="photo" src="{{user.img}}"/>
    </div>
    <div class="photo-left" *ngIf="!user.img">
        <img class="photo" src="https://png.pngtree.com/element_origin_min_pic/17/01/01/a0616bd383a04eb003eb9ca3fdbb3e82.jpg"/>
      </div>
    <h4 class="name">{{user.nick}}</h4>
<!--     <p class="info">{{user.city}}</p>
    <div class="stats row">
      <div class="stat col-xs-4" style="padding-right: 50px;">
        <p class="number-stat">3,619</p>
        <p class="desc-stat">Routes</p>
      </div>
      <div class="stat col-xs-4">
        <p class="number-stat">42</p>
        <p class="desc-stat">Following</p>
      </div>
      <div class="stat col-xs-4" style="padding-left: 50px;">
        <p class="number-stat">38</p>
        <p class="desc-stat">Uploads</p>
      </div>
    </div> -->
    <p class="desc">{{user.about}}</p>
    <hr>
    <a class="btn btn-primary button" [routerLink]="['/profile/edit',user.id]" *ngIf="isOwner && user"> Edit </a>
</div>
<div class="col-lg-8">
  <app-userroutes [user]="user" *ngIf="user"></app-userroutes>
</div>
</div>