<div class="left col-lg-4">
    <div class="photo-left">
      <img class="photo" src="https://image.noelshack.com/fichiers/2017/38/2/1505775062-1505606859-portrait-1961529-960-720.jpg"/>
    </div>
    <h4 class="name">{{user.nick}}</h4>
    <p class="info">{{user.city}}</p>
    <div class="stats row">
      <div class="stat col-xs-4" style="padding-right: 50px;">
        <p class="number-stat">3,619</p>
        <p class="desc-stat">Routes</p>
      </div>
      <div class="stat col-xs-4">
        <p class="number-stat">42</p>
        <p class="desc-stat">Following</p>
      </div>
      <div class="stat col-xs-4" style="padding-left: 50px;">
        <p class="number-stat">38</p>
        <p class="desc-stat">Uploads</p>
      </div>
    </div>
    <p class="desc">{{user.about}}</p>
    <hr>
    <a [routerLink]="['/profile/edit']" *ngIf="isOwner">Edit</a>
</div>
