<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
              <h4 class="modal-title">New Message</h4>
              <br>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
              </button>
              
          </div>
          <div class="modal-body">
              <h3>Route: {{route.title}}</h3>
              <h5>User: {{route.owner.nick}}</h5>
              <form class="form-group" (ngSubmit)="onSubmitMessage(form)" #form="ngForm">
          <div class="form-group input--medium" [class.has-error]="message.errors && message.touched">
              <div class="input-group input--with-icon">
               <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Type your message" [(ngModel)]="message1.message" #message="ngModel" required
               message></textarea>
              </div>
          </div>
            <div class="form-group" class="has-error" *ngIf="apiError">
              <label class="control-label">
                {{ apiError }}
              </label>
            </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-block btn-primary" [disabled]="!form.valid">Send Message!</button>
          </div>
        </form>
      </div>
      <br>
  </ng-template>
    <button class="btn btn-sm btn-outline-primary" (click)="open(content)">
      <fa name="envelope" class="fa-2x"></fa>
  </button>